body {
    text-align: center;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-image: linear-gradient(rgb(15, 15, 63), black);
}

#guesses {
    display:block;
    justify-content: center;
    height:100px;
    max-width:800px;
    margin-left: auto;
    margin-right: auto;
}

#guesses>div {
    margin:10px;
    border:3px solid white;
    height:100px;
    width:100px;
    border-radius:65px;
}

#guesses>div:hover {
    border-color:black;
    border-radius:55px;
}

.hexClass {
    float: left;
    margin:20px;
    box-shadow: 10px 10px 5px rgb(0, 0, 0);
}